<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Про нас!</title>


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Red Berry - найсмачніша кава!</div>
    <div class="address-bar">ЖК СОФІЯ | ВУЛИЦЯ ЩАСЛИВА, 61 | 097 584 6751</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Головна</a>
                    </li>
                    <li>
                        <a href="about.html">Про нас</a>
                    </li>
                    <li>
                        <a href="blog.html">Блог</a>
                    </li>
                    <li>
                        <a href="contact.html">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Про
                        <strong>Нас!</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="{% static 'img/coffee-room.jpg' %}" alt="">

                </div>
                <div class="col-md-6">
                    <p>Якщо ти хочеш почати свою карьеру бариста</p>
                    <p color="font size:"><strong>То Red Berry Coffee Room твій найкращий вибір!</strong></p>
                    <p>Наша команда дружна та завжди зможе прийти тобі на допомогу!</p>
                    <p>Робочі дні плавні, карьерний ріст - гарантований!</p>
                    <p class="text center">Щоб подати вакансію та зв'язатися із менеджером, перейдіть по 
                        <a href="http://127.0.0.1:8000/contact.html" target="_blank">Цьому</a> посиланню!</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Наша
                        <strong>Команда</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
                    <h3><strong>Анна Смит</strong>
                        <small>Бариста</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
                    <h3><strong>Марія Смит</strong>
                        <small>Барист</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="{% static 'img/avatar.png' %}" alt="">
                    <h3><strong>Віктор Смит</strong>
                    <small>Барист-Адміністратор</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; By Study in ItStep 🖤</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
