<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Red Berry - найсмачніша кава!</div>
    <div class="address-bar">ЖК СОФІЯ | ВУЛИЦЯ ЩАСЛИВА, 61 | 097 584 6751</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Головна</a>
                    </li>
                    <li>
                        <a href="about.html">Про нас</a>
                    </li>
                    <li>
                        <a href="blog.html">Блог</a>
                    </li>
                    <li>
                        <a href="contact.html">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Наш
                        <strong>Блог</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-1.jpg' %}" alt="">
                    <h2>Херсон - Україна!
                        <br>
                        <small>Листопад 11, 2022</small>
                    </h2>
                    <p>Сьогодні по нашій країні свято - визволення Херсону!</p>
                    <p>Тому сьогодні ми даруємо Вам знижку - 25%!</p>
                    <p>А також ви маєте можливість спробувати новий напої з кавуном!</p>
                    <p>Запрошуйте друзів та святкуйте у Red-Berry!</p>
                    <a href="#" class="btn btn-default btn-lg">Більше іноформації</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-2.jpg' %}" alt="">
                    <h2>Хелловін!
                        <br>
                        <small>Жовтень 31, 2022</small>
                    </h2>
                    <p>Гаманець або життя!</p>
                    <p>Сьогодні у нас Хелловін, Бу-га-га!</p>
                    <p>Наше кафе охопило вайбом цього свята! Запрошуємо і Вас приєднатись до нас!</p>
                    <p>Працює скидка - 40%! Нові напої вже у меню!</p>
                    <p>Зі святом друзі!</p>
                    <p></p>
                    <a href="#" class="btn btn-default btn-lg">Більше іноформації</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-3.jpg' %}" alt="">
                    <h2>День тварин!
                        <br>
                        <small>Жовтень 4, 2022</small>
                    </h2>
                    <p>Усім доброго дня!</p>
                    <p>Сьогдні 4 жовтня всесвітній день тварин!</p>
                    <p>Бажаємо Вашим тваринкам усього найкращого!</p>
                    <p>Нагадуємо, що наше кафе - Pet Frendly, тому зайпрошуйте Ваших улюбленців та отримуйте знижку у 20%!</p>
                    <p>Зі святом!</p>
                    <a href="#" class="btn btn-default btn-lg">Більше іноформації</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Попередня сторінка</a>
                        </li>
                        <li class="next"><a href="#">Наступна сторінка &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; By Study in ItStep 🖤</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
